<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.robots == "noindex" %}
    <meta name="robots" content="noindex, nofollow">
    {% endif %}

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

    {%- feed_meta -%}
</head>

<body>
    <nav class="site-nav" aria-label="Site navigation">
        <a href="{{ '/' | relative_url }}">Home</a>
        <a href="{{ '/blog/' | relative_url }}">Blog</a>
        <a href="{{ '/publications/' | relative_url }}">Publications</a>

        <details class="more-dropdown">
            <summary>More</summary>
            <ul>
                <li><a href="https://ktrnka.github.io/recipes/">Recipes</a></li>
                <li><a href="https://ktrnka.github.io/seattle-outdoor-volunteering/">Seattle Outdoor Volunteering</a></li>
                <li><a href="{{ '/guides/urban-detrashing/' | relative_url }}">Urban detrashing</a></li>
                <li><a href="{{ '/guides/hiking/' | relative_url }}">Hiking</a></li>
            </ul>
        </details>
    </nav>
    <main>
        {{ content }}
    </main>
</body>

</html>